.bg-purple{ 
    background-color:#6d5c81
} 
.add{
    width: 50%;
}
.add p, span{
    font-size: small;
    padding: 0;
    margin-bottom: 0;
}
.logo{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    margin: auto;
}
.logo img{
    width:20% ;
    border-radius: 50%;
    margin: auto;
}
.logo h1{
    font-size: x-large;
    margin-top: 2%;
    margin-bottom: 5%;
}
hr{
    padding: 0;
    color: aliceblue;
    margin-bottom: 0;
}
footer p{
    font-size: x-small;
}
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
    background:#6d5c81;        /* color of the tracking area */
 }
   
 body::-webkit-scrollbar-thumb {
     background-color:black;   /* color of the scroll thumb */
     border-radius: 20px;       /* roundness of the scroll thumb */
     border: .5px solid #d1a5da;  /* creates padding around scroll thumb */
 }
  
   

@media(max-width:768px){
    .add{
        width: 90%;
        padding: 0;
    }
    .logo img{
        width:25% ;
    }
    .add p , span{
        font-size: x-small;
    }
    .logo h1{
        font-size: 1.3rem;
    }
    .footer {
        position:absolute;
        bottom:0;
        width:100%;
    }
    
}


