.bg-purple{
    background-color:#6d5c81;
}
.w-new{
    max-width: 100%;
    margin-top: 2%;
    word-wrap: break-word;
    padding: 2%;

}
.logo{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    margin: auto;
}
.logo img{
    width:11% ;
    border-radius: 50%;
    margin: auto;
}
.logo h1{
    font-size: x-large;
    margin: auto;
    margin-bottom: 4%;
}
.indice h2{
    font-size: 1.8rem;
    margin-left: 2%;
}
hr{
    padding: 0;
    color: aliceblue;
    margin-bottom: 0;
}
footer p{
    font-size: x-small;
}
footer{
    width: 100%;
}
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
   background:#6d5c81;        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color:black;   /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: .5px solid #d1a5da;  /* creates padding around scroll thumb */
}

@media(max-width:768px){
    .w-new{
        flex-direction: column;
        font-size: .9rem;
        margin-top: 5%;
        padding: .8%;
    }
    .logo{
        width: 100%;
        color: white;
    }
    .logo img{
        width: 25%;
    }
    .logo h1{
        margin-bottom: 10%;
        font-size: 1.3rem;
    }
    .indice h2{
        margin-top: 0;
        text-align: center;
        font-size: 1.2rem;
    }
    .text{
        width: 80%;
        margin: auto;
    }
    hr{
        width: 100%;
    }
}