.bg-purple{ 
    background-color:#6d5c81
} 
.edit{
    width: 45%;
}
.logo{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    margin: auto;
}
.logo img{
    width:20% ;
    border-radius: 50%;
    margin: auto;
}
.logo h1{
    font-size: x-large;
    margin-top: 2%;
    margin-bottom: 5%;
}
p{
    margin-bottom: 0.5%;
    font-size: small;
}
hr{
    padding: 0;
    color: aliceblue;
    margin-bottom: 0;
}
footer p{
    font-size: x-small;
}
@media(max-width:768px){
   .edit{
        width: 95%;
    }
    .logo img{
        width: 25%;
        margin-top: 4%;
    }
    .logo h1{
        font-size: 1.3rem;
    }
    
}