.bg-purple{ 
    background-color:#6d5c81
} 
.edit{
    width: 45%;
}
.tags{
    width: 100%;
}
.tags input{
    width: 15%;
}
hr{
    padding: 0;
    color: aliceblue;
    margin-bottom: 0;
}
footer p{
    font-size: x-small;
}
@media(max-width:576px){
   .edit{
        width: 95%;
        padding-top: 2%;
    }
    
}