body{
    background-image:url('../images/fundo.jpg');background-repeat: no-repeat;background-size: cover; ;
}
header{
    background-color: white;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 3%;
}
.menu ul{
    display: flex;
}
.logo{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 2%;

}
.logo img{
    width:35%;
}
.logo h1{
    font-size: x-large;
}
.list{
    width: 60%;
}
.list a{
    text-decoration: none;
    margin-left: 10%;
    list-style: none;
    color: black;
}
.search{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3%;
}
.text{
    display: flex;
    flex-direction: column;
    
}
.cards{
    background-color: rgba(255, 255, 255, 0.911);
    border-radius: 5px;
    border: 0.5px solid #e5e1eb;
    margin-top: 0;
    padding: 2% 4%;
    margin-bottom: 5%;
}
.cards h2{
    font-size: xX-large;
    margin-top: 1%;
    margin-bottom: 2%;
}
.cards p{
    font-size: 1.2rem;
    line-height: 2;
    text-align: justify;
}
.images{
    display: flex;
}
.image{
    display: flex;
    flex-direction: column;
    margin: 2%;
}
label{
    font-size: small;
}
.image img{
    width: 300px;
}
.author{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.author h2{
    font-size: xX-large;
    padding-bottom: 1%;
   
}
.author img{
    width: 15%;
    border-radius: 50%;
}
.poetry{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cardspoetry{
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.911);
    border-radius: 5px;
    border: 0.5px solid #e5e1eb;
    margin-top: 0;
    padding:2% 4%;
    margin-bottom: 5%;
    text-align: center;
}
.item{
    margin-top: 4%;
    margin-bottom: 5%;
}
.aut{
    font-size: smaller;
    margin-bottom: 1%;
}
.url a{
    font-size: .9rem;
    text-decoration: none;
}
.url{
    margin-bottom: 10%;
}
.book{
    width: 14%;
    display: flex;
    flex-direction: column;
    margin: 4%;
}
.book img{
    width: 100%;
}
.books{
    /*width: 100%; alterar assim que inserir os outros livros*/
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
}
.books img{
    width: 50%;
    /*width:50% alterar assim que inserir os outros livros*/
}
hr{
    margin-bottom: 0;
}
.contact{
    display: flex;
    justify-content: center;
    padding-bottom: 4%;
}
.contact img{
    width: 15%;
}
.contact a{
    text-decoration: none;
    color: black;
    margin: 2%;
    font-size: .9rem;
}
footer p{
    margin-top: 0;
    font-size: .8rem;
    text-align: left;
    margin-bottom: 0;
}
footer a{
    text-decoration: none;
    color: black;
}
footer ul{
    width: 40%;
    display: flex;
    margin: auto;
    margin-bottom: 2%;
}
footer li{
    list-style: none;
    text-align: center;
}
footer img{
    width: 30%;
}
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
   background:#f1e9f3;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
    background-color: #d1a5da; /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 2px solid #f0ecf1 ; /* creates padding around scroll thumb */
}


@media(max-width:768px){
    .menu{
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-top: 3%;
    }
    .logo{
        width:90%;
        flex-direction: row;
        align-items: flex-end;
    }
    .logo h1{
        font-size: large;
    }
    .list{
        width:100%;
        margin-top: 5%;
    }
    .list ul{
        flex-direction: column;
    }
    .list li{
        border-radius: 5px;
        padding: .2rem;
        margin: .3rem;
        border:1px solid #cdaef0;
    }
    .list a{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    form{
        flex-direction: column;
        padding-bottom: 5%;
        padding-right: 2%;
        width: 90%;
        margin: auto;
    } 
    form h2{
        font-size: large;
    }
    .search{
       display: flex;
       flex-direction: column;
    }
   
    .search input{
        padding: .4rem;
        width: 100%;
        margin: auto;
        margin-bottom: 3%;
        border:1px solid #cdaef0;
        font-size: small;
        border-radius: 5px;
    }
    .search button{
        width: 30%;
        margin: auto;
        background-color: #cdaef0;
        border-radius: 5px;
    }
    .cards{
        width: 100%;
        padding: 3%;
       
    }
    .cards h2{
        font-size: larger;
        margin-top: 5%;
        margin-bottom:5%;
    }
    .cards p{
        font-size: 1rem;
        line-height: 1.8;
        text-align: justify;
    }
    .author img{
        margin-top: 5%;
        width: 30%;
    }
    .author h2{
        font-size: larger;
    }
    .poetry{
        flex-direction: column;
        padding:;
    }
    .cardspoetry{
        width: 100%;
        margin: auto;
        margin-bottom: 5%;
        text-align: left;
    }
    .url{
        margin-bottom: 15%;

    }
    .poetry p{
        font-size: small;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 3%;
    }
    .book{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .book img{
        width: 90%;
    }
    .books{
        flex-direction: column;
        padding: 0;
    }
    .books img{
        width: 70%;
    } 
    .img1{
        width: 100%;
        align-self: flex-start;
        padding: 0;
    }
    
    /*.img2{
        width: 65%;
        align-self: flex-end;
        padding: 0;
    }alterar assim que inserir os outros livros*/
    .contact{
        margin-top: 8%;
        flex-wrap: wrap;
    }
    .contact a{
        font-size: 1rem;
    }
    .contact img{
        width: 8%;
    }
    footer p{
        font-size: x-small;
        margin-bottom: 2%;
        text-align: center;
    }
    footer ul{
        width: 60%;
        padding-left: 0;
    }
    footer img{
        width: 50%;
    }
    .images{
        display: flex;
        flex-direction: column;
    }
    .image{
        margin: 4%;
    }
    label{
        font-size: .7rem;
    }
    .image img{
        width: 100%;
    }
    
}



