.bg-purple{ 
    background-color:#6d5c81
} 
.logo{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    margin: auto;
}
.logo img{
    width:35% ;
    border-radius: 50%;
    margin: auto;
}
.logo h1{
    font-size: x-large;
    margin-top: 2%;
    margin-bottom: 20%;
}
.w-35{ 
    width: 350px;
    margin-top:5%;
}
hr{
    color: aliceblue;
}
footer{
    position:absolute;
    bottom:0;
    width:100%;
}
footer p{
    font-size: x-small;
}

@media(max-width:768px){
    .w-35{
        width:95%;   
        margin-top:8%;
        padding-bottom:0;
    }
    .logo img{
        width:25% ;
    }

    .logo h1{
        font-size: 1.3rem;
    }
   
}
