.logo{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    margin: auto;
    padding-top: 3%;
}
.logo img{
    width:10% ;
    border-radius: 50%;
    margin: auto;
}
.logo h1{
    font-size: x-large;
    margin: auto;
    margin-bottom: 4%;
    margin-top: 1%;
}
form{
    width: 50%;
    padding: 1%;
    border-radius: 5px;
    margin: auto;
    align-items: center;
    
}
form input,form button{
    width: 60%;
    padding: 1%;
    border-radius: 5px;
    margin: 1.5%;
}
.bg-purple{ 
    background-color:#6d5c81
} 
p{
    width: 65%;
    font-size:small;
    padding: 0;
    margin-bottom: 0;
    text-align: center;
}
hr{
    color: aliceblue;
    margin-bottom: 0;
}
footer{
    position:absolute;
    bottom:0;
    width:100%;
}
footer p{
    font-size: x-small;
    margin-bottom: 1%;
    text-align: left;

}
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background:#6d5c81;        /* color of the tracking area */
 }
   
 body::-webkit-scrollbar-thumb {
     background-color:black;   /* color of the scroll thumb */
     border-radius: 20px;       /* roundness of the scroll thumb */
     border: .5px solid #d1a5da;  /* creates padding around scroll thumb */
 }

@media(max-width:768px){
    
    .logo img{
        width:25% ;
        margin-top: 5%;
    }
    .logo h1{
        font-size: 1.3rem;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    p{
        font-size: .8rem;
        margin-top: 4%;
        margin-bottom: 3%;
        padding: 2%;
    }
    form{
        width: 100%;
    }
    form input,form button{
        width: 95%;
    }
    form input{
        margin-top: 10%;
        margin-bottom: 6%;
    }
    footer{
        width: 100%;
    }
    footer p{
        width: 100%;
        font-size: x-small;
        margin-bottom: 0%;
        margin-top: 0;
        padding: 2%;
        text-align: justify;
    } 
}
