<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favi.jpg" type="image/x-icon">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
    rel="stylesheet"integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="/style/login.css">
</head>

<body class="bg-dark">
   
    <div class="container w-35 text-center rounded text-white">
        <div class="logo">
            <img src="/logo.jpg">
            <h1>Por fios de poesia </h1>
        </div>
        <form class="d-flex flex-column pb-4" >
            <input type="email" class="mb-3 p-2 rounded" id="email" name="email" value="<%=body.email%>" placeholder="Email">
            <input class="mb-3 p-2 rounded" id="password" name="password" value="<%=body.password%>" placeholder="Senha">
            <button type="submit" class="btn mt-3 mb-4 p-2 bg-purple text-white rounded" id="login" >Login</button>
            <p><a href="register" class="text-decoration-none text-muted" >Criar conta</a></p>
            <p><a href="#" class="text-decoration-none text-muted">Esqueceu sua senha ?</a></p>
        </form>
    </div>
    <script>
        document.querySelector('#login').addEventListener('click',(e)=>{
            e.preventDefault()

        let dados = {
            email:document.querySelector('#email'),
            password:document.querySelector('#password')
        }
        const options = {          
            method: "POST",          
            headers: new Headers({ "content-type": "application/json" }),          
            body:(JSON.stringify({email:email.value,password:password.value})),        
        };
        //console.log('esse é o options',options)

        fetch("http://localhost:3000/user/login", options).then((http) => {          
            const new_token = http.headers.get("authorization-token");          
            // Aqui eu vejo o valor do headers passado pelo back          
            //console.log("esse é o new token",new_token);          
            localStorage.setItem("authorization-token",new_token);
           
            // Essa rota que eu mando, pode ser uma casca vazia, que vai fazer outro fetch com o localstorage,
            // que mostre na tela os dados necessários ou uma mensagem de acesso proibido :)     
            if(new_token){
                window.location.replace("http://localhost:3000/admin/allPoetry")              
            }else{
                alert('Email ou senha inválidos!')
            }  
        })
       
    })
    </script>
</body>
<footer>
    <hr class="mb-0 mt-5 bg-white">
    <p><a href="https://www.linkedin.com/in/marcia-bimaggi-marcia-beserra-de-oliveira-9303801b9/"class="text-decoration-none text-muted " target="_blank"><strong>Copyright&copy 2021; Created and powered by Marcia Bimaggi</strong></a></p> 
</footer>
</html>