<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/favi.jpg" type="image/x-icon">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
    rel="stylesheet"integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="/style/login.css">
</head>

<body class="bg-dark">
   
    <div class="container w-75 text-center rounded text-white">
        <div class="logo w-35">
            <img src="/images/logo.jpg">
            <h1>Por fios de poesia </h1>
        </div>

        <div class="mt-4">
            <h2>Link enviado para o seu email</h2>
        </div>

        <div>
            <h2><a href="/" class="text-muted">Fechar</a></h2>
        </div>
       
    </div>
    
</body>
<footer>
    <hr class="mb-0 mt-5 bg-white">
    <p><a href="https://www.linkedin.com/in/marcia-bimaggi-marcia-beserra-de-oliveira-9303801b9/"class="text-decoration-none text-muted " target="_blank"><strong>Copyright&copy 2021; Created and powered by Marcia Bimaggi</strong></a></p> 
</footer>
</html>