<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polica de Privacidade</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
rel="stylesheet"integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
crossorigin="anonymous">
<body class ="bg-dark">
    <div class=" container text-white mt-5 w-75">
        <h4 class=" d-flex flex-row-reverse"><a href="user/register" class="text-muted">Voltar</a></h4>
    <h1 class="mt-4 mb-5"> Política de Privacidade</h1>
    <p>Por fios de poesia, reconhece a importância da privacidade.</p>
    <p>
        Por fios de poesia recebe e mantém informações de seu browser nos nossos servidores, 
        incluindo seu IP ou endereço de referência e a página que você procurou. 
    </p>
    <p> Além desta informação, a única outra informação pessoal que nós coletamos sobre você 
        é a que nos for fornecida por você através dos formulários online, ao criar a sua conta 
        de usuário. Por fios de poesia será o único dententor destas informações. 
        Estas informações serão usadas para nosso acompanhamento estatístico do número de visitas.
    </p>
        Por fios de poesia usa cookies e outras tecnologias para melhorar a sua experiência on-line e 
        para saber como você usa nossos serviços, com a finalidade de melhorar a qualidade deles.
        Usamos empresas de publicidade de terceiros para veicular anúncios durante a sua visita ao nosso 
        website. Essas empresas podem usar informações (que não incluem o seu nome, endereço, endereço de 
        e-mail ou número de telefone) sobre suas visitas a este e a outros websites a fim de exibir anúncios 
        relacionados a produtos e serviços de seu interesse. 
        
    <p>
        Para obter mais informações sobre essa prática e saber como impedir que as empresas utilizem esses 
        dados, <a href="https://policies.google.com/technologies/ads" target="_blank" class="text-muted"><strong>clique aqui</strong></a>.
    </p>
    <h3 class="mt-5 mb-4">Anúncios Google</h3>
    <p> 
        O Google, como fornecedor de terceiros, utiliza cookies para exibir anúncios no seu site.
        Com o cookie DART, o Google pode exibir anúncios para seus usuários com base nas visitas feitas aos seus e a outros sites na Internet.
        Os usuários podem desativar o cookie DART visitando a Política de privacidade da rede de conteúdo e dos anúncios do Google.
    </p>
</div>
</body>
<footer>
    <hr class="mb-0 mt-5 bg-white">
    <p class="mb-0 small"><a href="https://www.linkedin.com/in/marcia-bimaggi-marcia-beserra-de-oliveira-9303801b9/"class="text-decoration-none text-muted " target="_blank"><strong>Copyright&copy 2021; Created and powered by Marcia Bimaggi</strong></a></p> 
</footer>
</html>