<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favi.jpg" type="image/x-icon">
    <title>Criar conta</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
    rel="stylesheet"integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="/style/register.css">
</head>
<body class="bg-dark">
    <div class="container w-35 text-center rounded text-white">
        <div class="logo">
            <img src="/images/logo.jpg">
            <h1>Por fios de poesia </h1>
        </div>
        <form action="/user/register" method="POST" class="d-flex flex-column">
            <input class="mb-3 p-2 rounded" name="name" value="<%=body.name%>" placeholder="Nome">
            <input type="email" class="mb-3 p-2 rounded" name="email" value="<%=body.email%>" placeholder="Email">
            <input class="mb-3 p-2 rounded" name="password" value="<%=body.password%>" placeholder="Senha min 6 caracteres">
            <div class="d-flex">
                <div>
                    <input type="checkbox" name="privicy" id="privicy" required>
                </div>
                <div class=" text-light small">
                   <p class=" m-auto font"> Concordo com a Política de Privacidade do site Por fios de poesia e que as minhas 
                    informações pessoais serão guardadas com a finalidade de criar um usuário, para 
                    publicar poesias, poemas e urls de minha autoria, ou poesias, poemas e urls aos quais tenho autorização para divulgar.</p></br>
                </div>
            </div>  
            <button class="btn mt-1 mb-4 p-2  bg-purple text-white rounded">Salvar</button>
        </form>
        <p class="text-light newfont pb-5 mb-4">Para saber mais consulte a nossa <a href="/privicyPolicy" class=" text-muted" target="_blank">Política de Privacidade.</a></p>
    </div>
</body>
<footer>
    <hr>
    <p><a href="https://www.linkedin.com/in/marcia-bimaggi-marcia-beserra-de-oliveira-9303801b9/"class="text-decoration-none text-muted " target="_blank"><strong>Copyright&copy 2021; Created and powered by Marcia Bimaggi</strong></a></p> 
</footer>
</html>