<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
  </head>
  <body>
    <form id="reset">
      <label for="password">password</label>
      <input type="password" name="password" id="password" />
      <br/>
      <label for="password2">confirm password</label>
      <input type="password" name="password2" id="password2" />
      <br/>
      <input type="submit" value="reset password" />
    </form>

    <script>
       document.querySelector('#reset').addEventListener('submit',(e)=>{
            e.preventDefault()
            const options = {          
              method: "POST",          
              headers: new Headers({ "content-type": "application/json" }),          
              body:(JSON.stringify({password:e.target.value.password})),        
            };

            fetch(`${process.env.BASE_URL}/user/login`, options)


       })
    </script>
  </body>
</html>